.user-input {
  width: 448px;
  height: 40px;

  cursor: pointer;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border var(--fast-transition);
}

.user-input:hover,
.user-input:focus,
.user-input:checked {
  border: 1px solid var(--accent-color);
}

input[placeholder='Enter text'] {
  padding-left: 42px;
}

.user-input::placeholder {
  opacity: 0;
}

.user-input-checkbox.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-input-textarea {
  width: 448px;
  height: 120px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;

  transition: border var(--fast-transition);
}

.user-input-textarea:hover,
.user-input-textarea:focus {
  border: 1px solid var(--accent-color);
}

.user-input-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
